<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="theme.css">
    <style>
        [v-cloak] {
            display: none
        }
    </style>
</head>


<body>
    <div class="container pt-5" id="app" v-cloak>
        <div class="card center">
            <h1 :style="{
                color: inputValue.length<5 ? 'darkred':'darkblue',
                fontSize: inputValue.length<5 ? '2rem':'1rem'
            }">{{titleCounter}}: {{ counter }}</h1>
            <div>
                <button class="btn primary" @click="counter++">Add</button>
                <button class="btn danger" @click="counter--">Substract</button>
            </div>
            </hr>
            <h1>{{titleNotes}}</h1>
            <div class="form-control">
                <input type="text" :placeholder="placeholderString"
                    :value="inputValue" v-model="inputValue"
                    @keypress.enter="addNewNote" />
            </div>
            <h2>inputValue: {{inputValue}}</h2>
            <button class="btn" @click="addNewNote">Add</button>
            </hr>

            <ul class="list" v-if="notes.length !== 0">
                <li class=" list-item" v-for="(note, index) in notes">
                    <!-- <span :class="note.length > 3 ?  'primary':'bold'">
                        {{index}}. {{toUpperCase(note)}}
                    </span> -->
                    <!-- <span :class="{
                        'primary': true,
                        'bold': note.length>5
                    }">
                        {{index}}. {{toUpperCase(note)}}
                    </span> -->
                    <span
                        :class="['primary', {'bold': note.length > 5}]">{{index}}.
                        {{toUpperCase(note)}}
                    </span>
                    <button class="btn danger"
                        @click="removeNote(index)">Delete</button>
                </li>
                <hr>
                <li>
                    <strong>Notes length: {{notes.length}}</strong> | Double:
                    {{doubleCountComputed}}
                </li>
            </ul>
            <div v-else>There are no notes</div>
        </div>

        <div class="card center">
            <div v-html="myHtml"></div>
            <h2 v-text="title"></h2>
            <h2 v-once>{{title}}</h2>
            <button class="btn" @click="title = 'Another name for now'">
                Change</button>
            <ul class="list">
                <li class="list-item" v-for="(value, key) in person">
                    <strong>{{key}}: </strong>
                    {{ value}}
                </li>
            </ul>
            <ul class="list" v-if="items.length">
                <!-- <li class="list-item" v-for="(item, i) in evenItems" -->
                <li class="list-item" v-for="(item, i) in items"
                    @click.right.prevent="removeItem(i), log(item)" :key="item">
                    <strong>{{item}}</strong>&nbsp;
                    <input type="text" @click.stop>
                </li>
            </ul>
            <h3 v-show="items.length === 0">No elements here</h3>

            <div class="form-control">
                <input type="text" @keyup.enter="addItem" ref="myInput">
            </div>
        </div>
    </div>


    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>

</html>